<div class="discover-background">
<div class="discover-crossfit">
  <h1>What is CrossFit..</h1>
      <p>
        Now bear with me here.Functional movements are natural, effective, and inherently safe movements that involve multiple joints (compound).  Standing, sitting, throwing, lifting, pushing, running etc. are all natural and part of the human design and evolution.  These movements influence the exercises in CrossFit workouts.  These movements are also universally scalable to any fitness level.  CrossFit realizes that the needs of an Olympic athlete and your grandparents differ only be degree, not kind.  The same methods that elicit optimal response in the Olympic athlete will also optimize the same response in your grandmother.  EVERYONE can benefit from CrossFit!

These functional movements are constantly varied to prepare you for maximal competency in all possible adaptive capacities and modalities.  Routine is a fitness program’s greatest enemy, and almost all of us with previous fitness training have experienced the “wall” or “plateau” that is inherent with routines.  Due to the need to constantly vary workouts, you will rarely do the same workout twice within a year.  No more dreading that 45 minutes of predictable discomfort hammering out “cardio” on the treadmill or elliptical.  No more figuring out your “chest and tri” or “back and bi” routine come Monday.  The idea here is that life is not so predictable so neither should your fitness program.  No more predictability, no more boredom!

Executing these workouts at high intensity elicits a significant neurological and anaerobic response in your body, increasing cardio-respiratory endurance and strength while decreasing body fat.  Anaerobic conditioning (short duration, high intensity) greatly increases aerobic capacity (long duration, lower intensity) but NOT vice versa.  For this reason CrossFit workouts are generally kept short and intense, with occasional longer duration workouts in the mix.

CrossFit is “empirically driven, clinically tested, and community developed.”  This sets CrossFit apart from other fitness programs out there in that the results are measurable, observable, and repeatable.  As your fitness progresses, in addition to improvements in your body compositionyou will see improvements in physiological measures such as blood pressure, resting heart rate, VO2 max, lactate threshold, and cholesterol levels to name a few.

CrossFit measures 10 general physical skills in which the goal is to be the best possible in each category while not neglecting a single category.  These physical skills are:  cardiovascular/respiratory endurance, stamina, strength, flexibility, power, coordination, agility, balance, speed, and accuracy.  You will find that “specialization” in any one area will result in a decrease in capacity in another.  It would be of great disservice to you if your fitness program only made you stronger or leaner, but not both.  All that is needed is an open mind and a commitment to your health and wellbeing.
      </p>
    </div>
  </div>
