<!-- home page -->
<div class="top-image-background">
  <div class="background-overlay">
  </div>
  <div class="home-container">
    <h1>Change<span> your life</span> by changing<br /> how <span>you move</span></h1>
    <p>
      CrossFit is a functional fitness program. Every day, you bend down and pick things up, carry things, put things over your head, sit down and stand back up, or run after your kids.  CrossFit prepares you for the real world by performing these same movements in our workouts.
    </p>
    <div class="text-yourself">
    Free Class
    </div>
  </div>
</div>
<div class="home-container-two">
  <h1>Get more involved..</h1>
  <div class="schedule">
    <div class="link-cover">
      <h2>Get the <span>schedule</span></h2>
    </div>
  </div>
  <div class="resources">
    <div class="link-cover-two">
      <h2>Get the <span>resources</span></h2>
    </div>
  </div>
  <div class="trainers">
    <div class="link-cover-three">
      <h2>Meet the <span>trainers</span></h2>
    </div>
  </div>
  <div class="blog">
    <div class="link-cover-four">
      <h2>Follow the <span>blog</span></h2>
    </div>
  </div>
</div>

