<!-- home page -->
<div class="top-image-background">
  <div class="background-overlay">
  </div>
  <div class="home-container">
    <h1>Change<span> your life</span> by changing how <span>you move</span></h1>
    <p>
      CrossFit is a functional fitness program. Every day, you bend down and pick things up, carry things, put things over your head, sit down and stand back up, or run after your kids.  CrossFit prepares you for the real world by performing these same movements in our workouts.
    </p>
    <div class="text-yourself">
    Free Class
    </div>
  </div>
</div>
