<% provide(:title, "Welcome") %>
<div class="home-image">
  <div class="home-image-inner-container">
  <div class="home-image-inner">
    <h1>Change your life by changing how you move</h1>
    <p>Crossfit is a functional fitness program.  Every day, you bend down and pick things up, carry things, put things over your head, sit down and stand up, or run after your kids. Crossfit prepares you for the real world by performing these same movements in our workouts.</p>
    <div class="button-container">
      <a class="button" href="https://crossfit704.frontdeskhq.com/group_classes/9055" target="_blank">Sign up for a free class</a>
    </div>
  </div>
</div>
</div>
<div class="crossfit-defined-banner">
  <p><strong>Crossfit</strong> Defined</p>
</div>
<div class="crossfit-defined">
  <div class="crossfit-defined-container">
    <iframe width="560" height="315" src="http://www.youtube.com/embed/ZZdp59yyG0M" frameborder="0" allowfullscreen></iframe> 
  </div>
</div>
