<% provide(:title, 'Programs') %>
<div  class="programs-background">
  <h2>Group Classes</h2>
  <p>
    CrossFit is a constantly evolving strength and conditioning program that is scaled to the fitness level of each individual.  CrossFit takes a unique approach to fitness.  CrossFit 704 is not a typical 24-hour gym in which clients go in and out and work out on their own.  Instead the program is delivered through group classes.  Members come in during scheduled group classes that last 1 hour including a warm-up, “WOD” (workout of the day), and cool-down.  All classes are run by professionals that are at minimum CrossFit Level 1 (CF-L1) trainers.<br><br>
We offer personal training in a community-driven group setting designed to be both competitive and encouraging.  Our workouts constantly vary and incorporate functional movements – movements that make you better at the things you do in everyday life.  Workouts are done at high intensity to guarantee results.  In addition to fitness training we offer knowledge and guidance on nutrition and lifestyle further boost results.
The CrossFit community as a whole understands there is no quick fix to living a healthy and active lifestyle.  If it were that easy, everyone would be fit, ripped, and disease free.  Any program that promises an easy solution to getting you in the best shape of your life is lying to you.  We promise we will get you into the best shape of your life, but we also promise it won’t be easy.  Like all good things, you get out what you put in.
To get started, see Foundations below, or try out a Free Class!</p>



<h2>Foundations</h2>
<p>
  For those of you that are new to CrossFit we ask that you first complete the Foundations program prior to membership.  This program consists of 3 one-hour sessions per week for 4 weeks.  Each session we will briefly discuss important CrossFit topics such as terminology, technique, and nutrition.  We will also learn/train new movements and culminate the session with a group workout.  The goal of the program is to prepare you to safely execute CrossFit workouts during our regular group classes, as well as answer any questions you might have with regards to this unique fitness program. 
  <br>
  <p>To sign up for Foundations course <a href="https://crossfit704.frontdeskhq.com/courses/7749">Go Here</a></p>
</p>
<h2>Membership/Pricing</h2>
<!-- single -->
<h4>Single</h4>
<table class="table table-bordered" border="1" cellspacing="0" cellpadding="2">
<tr class="info">
<th>Program</th>
<th>Commitment</th>
<th>Visits Per Week</th>
<th>Monthly Investment</th>
</tr>
<tr>
  <td>Very Serious</td>
  <td>12 months</td>
  <td>2x</td>
   <td>$115</td>
</tr>
<tr>
<td></td>
<td></td>
<td>Unlimited</td>
<td>$135</td>
</tr>
<tr>
  <td>Serious</td>
  <td>6 months</td>
  <td>2x</td>
   <td>$125</td>
</tr>
<tr>
<td></td>
<td></td>
<td>Unlimited</td>
<td>$155</td>
</tr>
<tr>
  <td>Kinda Serious</td>
  <td>3 months</td>
  <td>2x</td>
   <td>$135</td>
</tr>
<tr>
<td></td>
<td></td>
<td>Unlimited</td>
<td>$170</td>
</tr>

</table>

<!-- couples pricing -->
<h4>Couples(same household)</h4>
<table class="table table-bordered" border="1" cellspacing="0" cellpadding="2">
<tr class="info">
<th>Program</th>
<th>Commitment</th>
<th>Visits Per Week</th>
<th>Monthly Investment</th>
</tr>
<tr>
  <td>Very Serious</td>
  <td>12 months</td>
  <td>2x</td>
   <td>$190</td>
</tr>
<tr>
<td></td>
<td></td>
<td>Unlimited</td>
<td>$225</td>
</tr>
<tr>
  <td>Serious</td>
  <td>6 months</td>
  <td>2x</td>
   <td>$210</td>
</tr>
<tr>
<td></td>
<td></td>
<td>Unlimited</td>
<td>$250</td>
</tr>
<tr>
  <td>Kinda Serious</td>
  <td>3 months</td>
  <td>2x</td>
   <td>$225</td>
</tr>
<tr>
<td></td>
<td></td>
<td>Unlimited</td>
<td>$280</td>
</tr>
</table>

<h5>Unlimited Month-to-Month - $185 per person, or $310 per couples</h5>
<h4>Foundations</h4>
<h5>Foundations (12 classes total) - $140 per person, or $235 for couples</h5>
<h5>Foundations (3 one-hour sessions) - $180 per person, or $300 for couples</h5>
<h4>Personal Training</h4>
<h5>1-on-1 Personal Training - 3 Sessions for $95 per Session</h5>
<h5 class="session-one">6 Sessions for $85 per Session</h5>
<h5 class="session-one">12 Sessions for $75 per Session</h5>
<br>
<h5>1-on-2+ Personal Training - 3 Sessions for $80 per Session</h5>
<h5 class="session-two">6 Sessions for $70 per Session</h5>
<h5 class="session-two">12 Sessions for $60 per Session</h5>
<h6>Membership Details:</h6>
<ul>
  <li>Paid in advance of service on the 1st day of each month</li>
  <li>New memberships are prorated for the first month. Regular dues apply thereafter with payments made the first day of each month.</li>
  <li>Dues for all membership options are paid by monthly automatic electronic payment (credit card, debit card, or automatic checking draft)</li>
  <li>Writted notice of five (5) days must be given to assure cancellation of automatic payments.</li>
</ul>




</div>
