<% provide(:title, 'Programs') %>
<div  class="programs-background">
  <h2>Group Classes</h2>
  <p>
CrossFit is a constantly evolving strength and conditioning program that is scaled to the fitness level of each individual.  CrossFit takes a unique approach to fitness.  CrossFit 704 is not a typical 24 hour gym in which clients go in and out and work out on their own.  Instead the program is delivered through group classes.  Members come in during scheduled group classes that last 1 hour including a warm-up/skill, “WOD” (workout of the day), and cool-down.  All classes are run by professionals that are at minimum CrossFit Level 1 (CF-L1) trainers.
We offer personal training in a community driven group setting designed to be both competitive and encouraging.  Our workouts constantly vary and incorporate functional movements –movements that make you better at the things you do in everyday life.  Workouts are done at high intensity to guarantee results.  In addition to fitness training we offer knowledge on nutrition and lifestyle to help further boost results.
The CrossFit community as a whole understands there is no quick fix to living a healthy and active lifestyle.  If it were that easy, everyone would be fit, ripped, and disease free.  Any program that promises an easy solution to getting you in the best shape of your life is lying to you.  We promise we’ll get you in the best shape of your life, but we also promise it won’t be easy.  Like all good things, you get out what you put in.
The coaches and your fellow members will push you as hard as safely possible.  The intensity of the workouts will increase as your fitness level increases. Here at CrossFit 704 we don’t have million-dollar machines or routines that promise ripped abs or a nice butt in 60 days – just functional workouts with incredible results.  The goal here is health and wellness, though looking good naked happens to be a nice side effect of that goal.</p>



<h2>Foundations</h2>
<p>
  For those of you that are new to CrossFit we ask that you first complete the Foundations program prior to membership.  This program consists of 3 one-hour sessions per week for 4 weeks.  Each session we will briefly discuss important CrossFit topics such as terminology, technique, and nutrition.  We will also learn/train new movements and culminate the session with a group workout.  The goal of the program is to prepare you to safely execute CrossFit workouts during our regular group classes, as well as answer any questions you might have with regards to this unique fitness program. 
</p>
<h2>Membership/Pricing</h2>
<!-- single -->
<h4>Single</h4>
<table class="table table-bordered" border="1" cellspacing="0" cellpadding="2">
<tr class="info">
<th>Program</th>
<th>Commitment</th>
<th>Visits Per Week</th>
<th>Monthly Investment</th>
</tr>
<tr>
  <td>Very Serious</td>
  <td>12 months</td>
  <td>2x</td>
   <td>$70</td>
</tr>
<tr>
<td></td>
<td></td>
<td>Unlimited</td>
<td>$90</td>
</tr>
<tr>
  <td>Serious</td>
  <td>6 months</td>
  <td>2x</td>
   <td>$80</td>
</tr>
<tr>
<td></td>
<td></td>
<td>Unlimited</td>
<td>$105</td>
</tr>
<tr>
  <td>Kinda Serious</td>
  <td>3 months</td>
  <td>2x</td>
   <td>$90</td>
</tr>
<tr>
<td></td>
<td></td>
<td>Unlimited</td>
<td>$120</td>
</tr>

</table>

<!-- couples pricing -->
<h4>Couples(same household)</h4>
<table class="table table-bordered" border="1" cellspacing="0" cellpadding="2">
<tr class="info">
<th>Program</th>
<th>Commitment</th>
<th>Visits Per Week</th>
<th>Monthly Investment</th>
</tr>
<tr>
  <td>Very Serious</td>
  <td>12 months</td>
  <td>2x</td>
   <td>$115</td>
</tr>
<tr>
<td></td>
<td></td>
<td>Unlimited</td>
<td>$150</td>
</tr>
<tr>
  <td>Serious</td>
  <td>6 months</td>
  <td>2x</td>
   <td>$130</td>
</tr>
<tr>
<td></td>
<td></td>
<td>Unlimited</td>
<td>$175</td>
</tr>
<tr>
  <td>Kinda Serious</td>
  <td>3 months</td>
  <td>2x</td>
   <td>$150</td>
</tr>
<tr>
<td></td>
<td></td>
<td>Unlimited</td>
<td>$200</td>
</tr>
</table>

<h5>Unlimited Month-to-Month - $140</h5>
<h5>Foundations (3x per week for 4 weeks) - $100 per person, or $150 for couples</h5>
<h6>Membership Details:</h6>
<ul>
  <li>Paid in advance of service on the 1st day of each month</li>
  <li>New memberships are prorated for the first month. Regular dues apply thereafter with payments made the first day of each month.</li>
  <li>Dues for all membership options are paid by monthly automatic electronic payment (credit card, debit card, or automatic checking draft)</li>
  <li>Writted notice of five (5) days must be given to assure cancellation of automatic payments.</li>
</ul>




</div>
