<!-- trainers page -->
<div class="top-image-trainers">
  <h1>Trainers </h1>
</div>
<div class="trainer-container">
  <img src="/assets/willie.png" alt="will chirico">
  <p>
  Fitness has always been apart of my life.
  </p>
</div>
