<div class="trainer-container">
<div class="trainer-images">
  <img class="img-circle" src="/assets/trainer.png" alt="will chirico">
  <img class="img-circle" src="/assets/wills.png" alt="Willie lifting">
</div>
  <div class="trainer-description">
    <h2>Will Chirico</h2>
    <p>
  Fitness has always played a huge role in my life.  I played soccer growing up as well as track and field and lacrosse in high school.  In college I continued with the traditional weightlifting I did in high school to prepare for lacrosse, with mediocre and predictable results.  I trained and competed in triathlons up to the half-ironman distance and began climbing, snowboarding, and pursuing other adventures in the outdoors.  My brother introduced me to CrossFit in 2009.  I was instantly hooked, but was limited with commitments to an engineering degree, an internship, and as director of an outdoor adventure trip program.  After school I went full swing into CrossFit.  I truly enjoy coaching CrossFit and helping people reach their physical goals all while being part of a growing and vibrant community.  Being able to be a part of and witness transformation on a daily basis has truly been a blessing.   
</p>
<ul>
  <li>CrossFit Level 1 Trainer (CF-L1)</li>
  <li>B.S. Civil Engineering</li>
  <li>Minor Outdoor Leadership</li>
  <li>EMT – Basic, North Carolina</li>
</ul>
</div>
</div>
