/* css for crossfit 704 created by John Vehr */

/* colors */
$crossfitBlue:#79C4FF;
/* end colors */

body {
  margin:0;
}

header {
  position:fixed;
  top:0;
  width:100%;
  height:42px;
  background-color:white;
  margin:0 auto;
  padding-top:10px;
  z-index:999;
  box-shadow:0 1px 3px 3px white;
}

header .header-container {
  margin:0 auto;
  width:900px;
  height:42px;
}

header nav  {
  position:relative;
  bottom:70px;
  padding-top:7px;
  left:200px;
  li {
  float:left;
  width:80px;
  height:21px;
  border-right:1px solid #EEE;
  list-style:none;
  line-height:15px;
  padding:18px;
  -webkit-transition:all 0.2s linear;
    strong {
    font-size:14px;
    font-family:sans-serif;
    color:$crossfitBlue;
    }
    span {
    font-size:14px;
    font-family:sans-serif;
    color:gray;
    font-weight:lighter;
    }
  }
}

header .social-right {
  float:right;
  margin-top:-84px;
  li {
  float:left;
  height:27px;
  padding:12px;
  padding-top:18px;
  list-style:none;
  font-size:14px;
  font-weight:lighter;
  font-family:sans-serif;
  color:$crossfitBlue;
  span {
  color:gray;
  }
  }
}
.social-right li:first-child {
  border-left:1px solid #EEE;
  border-right:1px solid #EEE;
}

header nav ul li strong:hover {
  color:#229EFF;
}

/* home page */

.top-image-background {
  background:url('/assets/new_main_bars.jpg') center no-repeat;
  height:650px;
  margin-top:51px;
}

.home-container {
  position:relative;
  bottom:270px;
  margin:0 auto;
  width:900px;
  height:650px;
  text-align:center;
  h1 {
  font-size:55px;
  font-family:sans-serif;
  font-weight:lighter;
  color:rgba(255,255,255,0.7);
  span {
  font-weight:bold;
  color:rgba(255,255,255,0.7);
  }
  }
  p {
  color:#CCC;
  font-family:sans-serif;
  font-size:18px;
  font-weight:bolder;
  margin-bottom:29px;
  letter-spacing:1px;
  }
}

.background-overlay {
  height:400px;
  width:100%;
  position:relative;
  top:125px;
  background-color:rgba(0,0,0,0.7);
}

.text-yourself {
  margin:0 auto;
  height:21px;
  width:145px;
  background-color:#249EFF;
  color:rgba(255,255,255,0.8);
  font-size:20px;
  font-family:sans-serif;
  text-align:center;
  border-radius:6px;
  text-transform:uppercase;
  padding:13px;
}

.home-container-two {
  margin:0 auto;
  width:900px;
  height:350px;
  //background-color:gray;
  h1 {
  text-align:center;
  color:#222;
  font-family:sans-serif;
  font-size:55px;
  font-weight:lighter;
  }
  p {
  text-align:center;
  font-family:sans-serif;
  font-size:18px;
  font-weight:bolder;
  color:#222;
  }
}

.schedule {
  position:relative;
  top:21px;
  background:url('/assets/one.jpg') no-repeat;
  height:161px;
  width:200px;
  box-shadow:0px 1px 9px 0px black;
  .link-cover {
  position:relative;
  top:100px;
  width:100%;
  background-color:white;
  height:57px;
  padding-top:4px;
  h2 {
  text-align:center;
  font-size:18px;
  font-weight:lighter;
  font-family:sans-serif;
  color:gray;
  span {
  font-weight:bolder;
  }
  }
  }
}

.resources {
  position:relative;
  left:240px;
  bottom:140px;
  background:url('/assets/two.jpg') no-repeat;
  height:161px;
  width:200px;
  box-shadow:0px 1px 9px 0px black;
.link-cover-two {
  position:relative;
  top:99px;
  width:100%;
  background-color:white;
  height:57px;
  padding-top:4px;
  h2 {
  text-align:center;
  font-size:18px;
  font-weight:lighter;
  font-family:sans-serif;
  color:gray;
  span {
  font-weight:bolder;
  }
  }
  }
}

.trainers {
  position:relative;
  left:477px;
  bottom:300px;
  background:url('/assets/willielift.png') no-repeat;
  height:161px;
  width:200px;
  box-shadow:0px 1px 9px 0px black;
.link-cover-three {
  position:relative;
  top:99px;
  width:100%;
  background-color:white;
  height:57px;
  padding-top:4px;
  h2 {
  text-align:center;
  font-size:18px;
  font-weight:lighter;
  font-family:sans-serif;
  color:gray;
  span {
  font-weight:bolder;
  }
  }
  }
}

.blog {
  position:relative;
  left:716px;
  bottom:462px;
  background:url('/assets/blog.jpg') no-repeat;
  height:161px;
  width:200px;
  box-shadow:0px 1px 9px 0px black;
  .link-cover-four {
  position:relative;
  top:99px;
  width:100%;
  background-color:white;
  height:57px;
  padding-top:4px;
  h2 {
  text-align:center;
  font-size:18px;
  font-weight:lighter;
  font-family:sans-serif;
  color:gray;
  span {
  font-weight:bolder;
  }
  }
  }
}





/* end home begin */
