/* css for crossfit 704 created by John Vehr */

/* colors */
$crossfitBlue:#79C4FF;
/* end colors */

body {
  margin:0;
}

header {
  position:fixed;
  top:0;
  width:100%;
  height:37px;
  background-color:white;
  margin:0 auto;
  padding-top:10px;
  z-index:999;
  box-shadow:0 1px 3px 3px white;
}

header .header-container {
  margin:0 auto;
  width:900px;
  height:42px;
}

header nav  {
  position:relative;
  bottom:70px;
  padding-top:7px;
  left:144px;
}
  .embed-rails-li {
  float:left;
  width:80px;
  height:41px;
  border-right:1px solid #EEE;
  list-style:none;
  text-decoration:none;
  line-height:15px;
  padding-top:9px;
  padding-right:20px;
  margin-bottom:-23px;
  margin-right:15px;
  -webkit-transition:all 0.2s linear;
    font-size:14px;
    font-family:sans-serif;
    color:$crossfitBlue;
    span {
    font-size:14px;
    font-family:sans-serif;
    color:gray;
    font-weight:lighter;
    }
  }
  .embed-rails-li:last-child {border-right:0;}

  .address {color:gray;
  font-weight:lighter;
  cursor:pointer;
}

header .social-right {
  float:right;
  margin-top:-128px;
  li {
  float:left;
  height:27px;
  padding:12px;
  padding-top:18px;
  list-style:none;
  font-size:14px;
  font-weight:lighter;
  font-family:sans-serif;
  color:$crossfitBlue;
  span {
  color:gray;
  }
  }
  li:first-child {padding-top:14px;}
}
.social-right li:first-child {
  border-left:1px solid #EEE;
  border-right:1px solid #EEE;
}

header nav ul .embed-rails-li:hover {
  color:#229EFF;
}
.journal {
 position:relative;
 top:70px;
 right:70px;
 margin:0;
}
/* home page */

.top-image-background {
  background:url('/assets/new_main_bars.jpg') center no-repeat;
  height:650px;
  margin-top:51px;
}

.home-container {
  position:relative;
  bottom:270px;
  margin:0 auto;
  width:900px;
  height:650px;
  text-align:center;
  h1 {
  font-size:55px;
  font-family:sans-serif;
  font-weight:lighter;
  color:rgba(255,255,255,0.7);
  span {
  font-weight:bold;
  color:rgba(255,255,255,0.7);
  }
  }
  p {
  color:#CCC;
  font-family:sans-serif;
  font-size:18px;
  font-weight:bolder;
  margin-bottom:29px;
  letter-spacing:1px;
  }
}

.background-overlay {
  height:400px;
  width:100%;
  position:relative;
  top:125px;
  background-color:rgba(0,0,0,0.7);
}

.text-yourself {
  margin:0 auto;
  height:21px;
  width:145px;
  background-color:#249EFF;
  color:rgba(255,255,255,0.8);
  font-size:20px;
  font-family:sans-serif;
  text-align:center;
  border-radius:6px;
  text-transform:uppercase;
  padding:13px;
}

.home-container-two {
  margin:0 auto;
  width:900px;
  height:470px;
  //background-color:gray;
  h1 {
  margin-top:100px;
  text-align:center;
  color:#222;
  font-family:sans-serif;
  font-size:55px;
  font-weight:lighter;
  }
  p {
  text-align:center;
  font-family:sans-serif;
  font-size:18px;
  font-weight:bolder;
  color:#222;
  }
}

.schedule {
  position:relative;
  top:21px;
  background:url('/assets/one.jpg') no-repeat;
  height:161px;
  width:200px;
  box-shadow:0px 1px 9px 0px black;
  .link-cover {
  position:relative;
  top:100px;
  width:100%;
  background-color:white;
  height:57px;
  padding-top:4px;
  h2 {
  text-align:center;
  font-size:18px;
  font-weight:lighter;
  font-family:sans-serif;
  color:gray;
  span {
  font-weight:bolder;
  }
  }
  }
}

.resources {
  position:relative;
  left:240px;
  bottom:140px;
  background:url('/assets/two.jpg') no-repeat;
  height:161px;
  width:200px;
  box-shadow:0px 1px 9px 0px black;
.link-cover-two {
  position:relative;
  top:99px;
  width:100%;
  background-color:white;
  height:57px;
  padding-top:4px;
  h2 {
  text-align:center;
  font-size:18px;
  font-weight:lighter;
  font-family:sans-serif;
  color:gray;
  span {
  font-weight:bolder;
  }
  }
  }
}

.trainers {
  position:relative;
  left:477px;
  bottom:300px;
  background:url('/assets/willielift.png') no-repeat;
  height:161px;
  width:200px;
  box-shadow:0px 1px 9px 0px black;
.link-cover-three {
  position:relative;
  top:99px;
  width:100%;
  background-color:white;
  height:57px;
  padding-top:4px;
  h2 {
  text-align:center;
  font-size:18px;
  font-weight:lighter;
  font-family:sans-serif;
  color:gray;
  span {
  font-weight:bolder;
  }
  }
  }
}

.blog {
  position:relative;
  left:716px;
  bottom:462px;
  background:url('/assets/blog.jpg') no-repeat;
  height:161px;
  width:200px;
  box-shadow:0px 1px 9px 0px black;
  .link-cover-four {
  position:relative;
  top:99px;
  width:100%;
  background-color:white;
  height:57px;
  padding-top:4px;
  h2 {
  text-align:center;
  font-size:18px;
  font-weight:lighter;
  font-family:sans-serif;
  color:gray;
  span {
  font-weight:bolder;
  }
  }
  }
}

.home-container-three {
  width:100%;
  height:470px;
  background-color:#EEE;
}

.home-container-three-inside {
  width:900px;
  margin:0 auto;
  height:300px;
  padding-top:100px;
  h1 {
   text-align:center;
   font-family:sans-serif;
   font-size:55px;
   color:#EEE;
   font-weight:lighter;
   span {
   font-weight:bold;
   }
  }
  p {
  color:#EEE;
  text-align:center;
  font-family:sans-serif;
  font-size:18px;
  letter-spacing:1px;
  span {
  color:#E66A6A;
  font-size:19px;
  font-weight:bolder;
  }
  }
}

.media-button {
  margin:0 auto;
  height:21px;
  width:145px;
  background-color:#249EFF;
  color:rgba(255,255,255,0.8);
  font-size:20px;
  font-family:sans-serif;
  text-align:center;
  border-radius:6px;
  text-transform:uppercase;
  padding:13px;

}

.home-container-four {
  width:100%;
  height:450px;
  background-color:#222;
}

.home-container-four-inside {
  margin:0 auto;
  width:900px;
  height:450px;
  padding-top:50px;
  h1 {
  margin-top:70px;
  text-align:center;
  color:#EEE;
  font-size:55px;
  font-family:sans-serif;
  font-weight:lighter;
  span {
  font-weight:bolder;
  }
  }
  p {
  text-align:center;
  letter-spacing:1px;
  font-size:18px;
  font-family:sans-serif;
  font-weight:bold;
  color:#EEE;
  }
}

.blue {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), $crossfitBlue, rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
/* end home begin */

/* trainers begin */

.top-image-trainers {
  background:url('/assets/trainnerbannernew.png') center no-repeat;
  height:180px;
  width:100%;
  text-align:center;
  box-shadow:0 1px 3px 3px white;
  h1 {
    padding-top:50px;
    font-family:sans-serif;
    font-weight:lighter;
    color:$crossfitBlue;
    font-size:4em;
  }
}

.trainer-container {
  margin:0 auto;
  width:980px;
  height:500px;
  padding:50px;
}
.trainer-discription strong {
  font-weight:bolder;
  font-size:24pt;
  color:rgba(56,56,56,1);
}
.trainer-discription p {
  position:relative;
  left:300px;
  bottom:300px;
  width:550px;
  margin-left:20px;
  color:rgba(71,71,71,1);
  font-weight:bolder;
  font-family:sans-serif;
  font-size:14px;
}
.trainer-discription ul {
  position:relative;
  bottom:160px;
  li {
  float:right;
  list-style:none;
  font-family:sans-serif;
  color:gray;
  font-weight:bolder;
  margin-right:30px;
  }
}

/* end trainer begin discover */

.discover-background {
  width:100%;
  height:900px;
  background-color:lightgray;
}
.discover-crossfit {
  position:relative;
  z-index:1;
  margin:0 auto;
  width:980px;
  padding:20px;
  h1 {
  margin-top:70px;
  float:left;
  font-family:sans-serif;
  font-size:3em;
  color:rgba(56,56,56,1);
  font-weight:bolder;
  }
  p {
  display:inline-block;
  font-family:sans-serif;
  font-size:14pt;
  color:rgba(71,71,71,1);
  }
}

/* schedule */

.schedule-page-background {
  background-color:gray;
  width:100%;
  height:220px;
}
.schedule-page-top {
  position:relative;
  top:0;
  z-index:1;
  margin:0 auto;
  width:980px;
  text-align:center;
  margin-top:-170px;
  h1 {
  font-family:sans-serif;
  font-size:4em;
  color:$crossfitBlue; 
  }
}
/* end schedule */
/* begin contact */

.contact-container {
  margin:0 auto;
  width:980px;
  height:300px;
  text-align:center;
  h1 {
  margin-top:170px;
  font-family:sans-serif;
  font-size:3em;
  font-weight:bolder;
  color:$crossfitBlue;
  }
  span {
  font-family:sans-serif;
  font-size:1em;
  color:gray;
  font-weight:lighter;
  }
  h2 {
  font-family:sans-serif;
  font-size:2em;
  font-weight:bolder;
  color:$crossfitBlue;
  }
}

/* footer */

footer {
  background-color:#222;
  height:400px;
  width:100%;
  height:100%;
}

.footer-inside {
  margin:0 auto;
  padding-top:23px;
  width:900px;
  p {
  color:white;
  font-family:sans-serif;
  font-size:18px;
  }
}
.footer-inside address {
  position:relative;
  color:white;
  font-family:sans-serif;
  font-weight:lighter;
  font-size:20px;
}
.logo {
  position:relative;
  margin-bottom:20px;
}
.directions {
  position:relative;
  left:430px;
  bottom:189px;
}
