<footer>
<div class="footer-inside">
  <img class="logo" src="/assets/logowhite.png" alt="logo white">
  <address>
    10806 Reames Road Suite S, Charlotte NC<br />
    704-597-9686
  </address>
  <p>
    We're just on the other side of Hwy 77<br /> from North Lake Mall.
  </p>
  <div class="crossfit-link">
  <a href="http://journal.crossfit.com/start.tpl?version=CFJ-graphic123x63" target="_blank" title="CrossFit Journal: The Performance-Based Lifestyle Resource"><img src="http://journal.crossfit.com/templates/images/graphic-125x63.jpg" width="125px" height="63px" alt="CrossFit Journal: The Performance-Based Lifestyle Resource" /></a>
</div>
  <img class="directions" src="/assets/map.png" alt="google map">
</div>
</footer>
