<footer>
<div class="footer-inside">
  <img class="logo" src="/assets/logowhite.png" alt="logo white">
  <address>
    10806 Reames Road Suite S, Charlotte NC<br />
    704-597-9686
  </address>
  <p>
    We're just on the other side of Hwy 77<br /> from North Lake Mall.
  </p>
<img class="directions" src="/assets/map.png" alt="google map">
</div>
</footer>
