  <div class="navbar navbar-fixed-top">
    <div class="container">
        <%= link_to image_tag('/assets/logo-black-small.png'), root_path, class: 'logo' %>
 
        <ul class="nav pull-right">
          <li><%= link_to 'Programs & Pricing', programs_path %></li>
          <li><%= link_to 'Trainsers', trainers_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
        </ul>
    </div>
  </div>
