<header>
<div class="header-container">
<%= link_to image_tag('/assets/black_logo_small.png'), root_path %>
<nav>
<ul>
  <li class="embed-rails-li">
    <%= link_to "Discover", discover_path, class: "embed-rails-li" %>
    <span>crossfit</span>
  </li>
  <li class="embed-rails-li">
    <%= link_to "Start", start_path, class: "embed-rails-li" %>
    <span>your journey</span>
  </li>
  <li class="embed-rails-li">
    <%= link_to "Talk", contact_path, class: "embed-rails-li" %><br />
    <span>to 704</span>
  </li>
</ul>
</nav>
<div class="social-right">
  <a href="http://journal.crossfit.com" alt="crossfit journal" target="_blank">
  <img class="journal" src="/assets/journal.jpg" alt="crossfit journal">
</a>
  <ul>
    <li><strong>704<span>.</span>597<span>.</span>9686</strong><br />
      <span class="address"><strong onclick="toMap()">FIND US</strong></span>
    </li>
    <li><a href="http://facebook.com/crossfit704" target="_blank">
        <img src="/assets/facebook.png" alt="crossfit704 facebook">
    </a></li>
    <li><a href="http://youtube.com/crossfit704" target="blank">
      <img src="/assets/youtube.png" alt="crossfit704 youtube"></a>
    </li>
  </ul>
</div>
</div>
</header>
