<header>
<div class="header-container">
<%= link_to image_tag('/assets/black_logo_small.png'), root_path %>
<nav>
<ul>
  <li>
    <strong>Discover</strong>
    <span>crossfit</span>
  </li>
  <li>
    <strong>Start</strong><br />
    <span>your journey</span>
  </li>
  <li>
    <strong>Talk</strong><br />
    <span>to 704</span>
  </li>
</ul>
</nav>
<div class="social-right">
  <ul>
    <li>704<span>.</span>597<span>.</span>9686</li>
    <li><a href="http://facebook.com/crossfit704" target="_blank">
        <img src="/assets/facebook.png" alt="crossfit704 facebook">
    </a></li>
    <li><a href="http://youtube.com/crossfit704" target="blank">
      <img src="/assets/youtube.png" alt="crossfit704 youtube"></a>
    </li>
  </ul>
</div>
</div>
</header>
